body{

}

div{
	
}

.grid-container{
	display: grid;
	grid-template-rows: 115px 425px 450px 50px auto;
	grid-template-columns: auto 50px 300px 175px 175px 275px 75px auto;
	grid-column-gap: 12px;
	width: 1100px;
}

.logo{
	grid-column: 2/span 6;
	grid-row: 1;

	padding-left: 30px;
	padding-top: 10px;
	background-image: url(img/header_bg.png);
}

.nav{
	grid-row: 1;
	grid-column: 4/7;
	margin-top: 15px;
} 


.nav ul li {
	display: inline-block;
	margin-left: 30px; 
} 

.banner{
	padding-left: 30px;
	padding-top: 20px;
	grid-row: 2;
	grid-column: 2/span 6;
	background-image: url(img/banner_bg.png);
}

.business{
	font-size: 14px;
	line-height: 20px;
	grid-row: 2;
	grid-column: 6;

}

.business h1{
	margin-top:  30px;
	font-size: 26px;
	line-height: 30px;
}
